form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > .button {
  margin-top: 15px;
}

form > .input {
  margin-bottom: 15px;
}

form > .link {
  text-decoration: none;
}

h1 {
  text-align: center;
}
